button:hover {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.editor-wrap {
  position: relative;
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.editor {
  flex: 1;
  align-self: stretch;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-height: 500px;
}

.CodeMirror {
  height: auto;
}

.render-trigger {
  margin: 2em auto 1em;
  padding: 18px 48px;
  background-color: #eee;
  color: #282828;
  border: 0;
  font-size: 1.2em;
}

.preview-trigger {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 16px;
  background-color: #eee;
  color: #282828;
  border: 0;
  font-size: 16px;
  z-index: 10;
}

.preview {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.demo {
  flex: 1 0 50%;
  margin-top: 36px;
  margin: 1em;
  padding: 0 10px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-height: 500px;
}

.vide-player {
  margin: auto;
}

.ast {
  margin: 40px auto;
  padding: 50px 20px;
  background-color: #ddd;
  width: 80vw;
}

.gif_player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif_player.playing .play_button {
  display: none;
}

.gif_player .play_button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  padding: 4px;

  border: 2px dashed #fff;
}
