* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  background: #edefed;
}

.main {
  margin: auto;
  display: flex;
  padding: 0 1em;
  width: 1200px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}

.editor-wrap {
  position: relative;
  flex: 1 0;
  display: flex;
  align-items: stretch;
  padding: 1em 0;
  overflow: scroll;
}

.editor,
.preview,
.transform {
  flex: 1 0 50%;
  border-radius: 3px;
  background-color: #f5f7f5;
}

.preview,
.editor {
  margin-right: 10px;
  align-self: stretch;
  overflow: scroll;
  min-height: 500px;
}

.preview {
  padding: 0 10px 30px;
}

.CodeMirror {
  height: auto;
}

.ops {
  position: relative;
  margin: auto;
  width: 1200px;
}

.trigger {
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  padding: 8px 16px;
  background-color: #88adce;
  border-radius: 2px;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.2em;
}

.trigger:hover {
  background-color: #789ebf;
}

.ast {
  padding: 10px 10px;
  background-color: #e3eae5;
  color: #504f4f;
  width: 80vw;
}

.gif_player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif_player.playing .play_button {
  display: none;
}

.gif_player .play_button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  padding: 4px;
  border: 2px dashed #fff;
}

.sample video {
  border: 1px solid #999;
  margin: auto;
}
